<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Prasanna Resume</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <style>
        .client {
            list-style-type: none;
            font-style: italic;
            font-size: small;
            color: gray;
        }
    </style>
    <div id="page-wrap">
        <img src="images/profile.png" style="height: 145px;width: 145px;padding-top: 125px;" alt="Photo of Prasanna"
            id="pic" />
        <div id="contact-info" class="vcard">
            <!-- Microformats! -->
            <h1 class="fn">Prasanna Prabhakaran</h1>
            <p>
                Location : Dubai, UAE<br />
                Mobile: <span class="tel"> +971 509407844</span><br />
                LinkedIn: <a href="https://www.linkedin.com/in/prasannaraja/">prasannaraja</a><br />
                Email: <a class="email" href="mailto:prasannaraja@msn.com">prasannaraja@msn.com</a><br />
                Skype: <a>prasannaraja@msn.com</a>
            </p>
        </div>
        <div id="objective">
            <p>
                Summary:<br>
                10 Years of Application Development Experience
            <ul class="summary">
                <li>Finesse Technologies, UAE (<b>Senior .NET Developer</b> )</li>
                <li class="client">Client: (GEMS Education Group, UAE)</li>
                <li>Randstad Private Limited, India (<b>Senior .NET Specialist</b> )</li>
                <li>Raqmiyat LLC, UAE (<b>Senior .NET Specialist</b> )</li>
                <li>Cognizant Technologies, London (<b>Associate</b>)</li>
                <li>HCL Technologies, India (<b>Senior Software Engineer</b>)</li>
                <li>Inatech, India (<b>Consultant</b>)</li>
                <li>Anna University (BE.CSE - Fulltime Program)</li>
                <li class="d-none">Midas Communication Technologies (Technical Support Executive)</li>
                <li class="d-none">HTL (Technician)</li>
                <li class="d-none">Central Polytechnic College,Chennai (Dip. ECE - Fulltime Program)</li>
            </ul>
            </p>
        </div>
        <div class="summary-2">
            Im a lead developer, i have work experience with consulting service and product based companies in software
            development. I worked in <b>London</b> for a year as a lead developer and individual contributor with a
            Leading IT Firm in <b>UAE</b>
        </div>
        <div class="clear"></div>

        <dl>
            <dd class="clear"></dd>
            <dt>Skills</dt>
            <dd>
                <h2>.NET Web Application Development</h2>
                <p>Angular 9, RxJs, .NET Core, ASP.NET MVC, Web APIs,Azure Cloud (DevOps), C#, EF 4.5, WCF, Web services
                    (SOAP & REST), Linq, node.js, JQuery, JavaScript patterns, KendoUI, Bootstrap, MS SQL Server</p>

                <h2>Reports</h2>
                <p>QAP (Qlik Analytical Platform), QlikView, Qlik Sense, Mashup API, NPrinting, JasperSoft Bi Tool, High
                    Chart, High Stocks, SSRS</p>

                <h2>Version Control</h2>
                <p>GIT, TFS, SVN, VSTS, TFVC, CI/CD</p>

                <h2>Payment Gateway Integration</h2>
                <p>E-Dirham, PayPal</p>
            </dd>

            <dd class="clear"></dd>

            <dt>Experience</dt>
            <dd>
                <h2>Finesse Technologies <span>Senior .NET Developer - 2021 - till date</span></h2>
                <span class="client"><b>Client: GEMS Education Group</b></span>
                <p>GEMS Education Group runs educational institues across 70 Countries, To help students on thier
                    fees,educational activities and reports a multilingual enterprise application has been developed</p>
                <ul>
                    <li>Individual Contributor,Designed and developed the application from the scratch</li>
                    <li>Developed the application using C#, ASP.NET Core, WebApi, Entity Framework, LINQ, SQL Server
                        2012</li>
                    <li>Version Control using TFS, preer reviews and approvals</li>
                    <li>Developed many reusable component for the swift development</li>
                </ul>
                <h2>Randstad Private Limited <span>Senior .NET Specialist - 2020 - 2021</span></h2>
                <p>Capital Cost Estimating Tool is a key application for Shell Private Limited for predicting the cost
                    invloved for building constructions in sea bed, this application is a key service which exposes
                    api for all other application which depeneds on them</p>
                <ul>
                    <li>Individual Contributor,Angular Component development</li>
                    <li>Developed the application using Angular 9, Material UI, RxJs, PrimeNg, C#, ASP.NET Core,
                        WebApi, Entity Framework, LINQ, SQL Server 2012, Git Repository
                    </li>
                    <li>CI/CD in Azure DevOps, Managing Pipelines, Auto deployment based on approval</li>
                    <li>Version Control using Git, preer reviews and approvals</li>
                    <li>Developed many reusable component for the swift development</li>
                </ul>
                <h2>Raqmiyat LLC, UAE <span>Senior .NET Specialist - 2018 - 2020</span></h2>
                <p>Health Insurance Portal is a service where user can search for the registered online insurance
                    products based on specific needs such as annual coverage, international coverage, type of room,
                    doctor fees, medicine sub- limit or a specific health treatment coverage, this search can be
                    accessed by public and Health insurance companies.</p>
                <ul>
                    <li>Individual Contributor,Greenfield Application</li>
                    <li>Developed the application using Angular 6, C#, ASP.NET Core, Entity Framework, LINQ, SQL Server
                        2012,WCF, web API, HTML, CSS, JavaScript.</li>
                    <li>CI/CD in Azure DevOps, Managing Pipelines, Auto deployment based on approval</li>
                    <li>Version Control migrated from TFS to Azure DevOps</li>
                    <li>Implemented Payment through E-Dirham, which is the government’s official payment gateway.</li>
                </ul>

                <h2>Cognizant Technologies Solutions <span>Associate - 2015 - 2018</span></h2>
                <ul>
                    <li>Lead Developer,Individual Contributor, Worked in London for a year</li>
                    <li>Analyzed user needs and developed software solutions</li>
                    <li>Project involves AngularJS 1.68, QlikView, C#, Linq, WCF, MVC, JSON, Sql server 2008 R2</li>
                    <li>TDD Environment experience</li>
                    <li>Development, Debugging and Troubleshooting Issues</li>
                    <li>Qlik Sense Development, Mashup API integration with AngularJs Application & Documentum Server
                    </li>
                </ul>
                <h2>HCL Technologies, India <span>Senior Software Engineer - 2013 - 2014</span></h2>
                <ul>
                    <li>Worked on Application Development</li>
                    <li>Project involves MVC 4,ASP.NET,C#, WebApi, Sql Server 2008</li>
                    <li>Banking Project</li>
                </ul>
                <h2>Inatech Info Solutions, India <span>Consultant - 2010 - 2013</span></h2>
                <p>BunkerTech is a SAAS application which is planned to be released in 2013 which will have modules such
                    as Procurement, Trade Risk Management, and Admin. Since it is a SAAS application, it is built with
                    multi-tenancy feature.</p>
                <ul>
                    <li>Individual Contributor,SAAS Product, Multitenancy,JasperSoft Report</li>
                    <li>Project Involves ASP.NET MVC 3,C#, WCF, Entity Framework 4.0, Linq, JQuery 1.8, Kendo UI, SQL
                        Server, JasperSoft</li>
                    <li>Oil & Bunkering Product</li>
                </ul>
                <h2 class="d-none">Midas Communication Technologies <span> Technician - 2003 - 2005</span></h2>
                <ul class="d-none">
                    <li>Project involves Unix,Shell scripting, System Integration</li>
                    <li>Telecom Project</li>
                </ul>
                <h2 class="d-none">Hindustan TelePrinters Limited <span>Technician - 2001 - 2003</span></h2>
                <ul class="d-none">
                    <li>Project involves Unix,Shell scripting, System Integration</li>
                    <li>Telecom Project</li>
                </ul>
            </dd>

            <dd class="clear"></dd>

            <dt>Projects</dt>
            <dd>
                <ul>
                    <li>Shell India Private Limited. Bangalore (July 2020 – till date). Lead Developer, Angular 9, RxJs
                        ASP.NET Core, C#.net application, Git,Azure DevOps,Sql Server 2019</li>
                    <li>Department of Health. Abu Dhabi (Nov 2018 – Dec 2019). Lead Developer, Developed core modules,
                        Payment Gateway Integration and SMART PASS with Angular 6, ASP.NET Core, C#.net application</li>
                    <li>Injazat Data Systems, Abu Dhabi (Nov 2018 – Dec 2019). Lead Developer, Product Enhancements,
                        MVC C#.net application</li>
                    <li>XL Catlin, Inc. UK (2016 – Sep 2018). Lead Developer, Developed core modules, Qlik Sense
                        Development and Mashup API integration with Angularjs, MVC C#.net application</li>
                    <li>SunTrust Bank, USA (2016). Developed modules for financial wellness program in strict deadline,
                        Integration with SharePoint.</li>
                    <li>US Bank, USA (2016). Developed modules for Money Movement Program, Online banking, Mobile &
                        Desktop development platform.</li>
                    <li>Aetna, Inc. USA (2015). Developed modules for Active Care Team application for Quality
                        Measurement of Health care insurance provider service.</li>
                    <li>Standard Chartered Bank, Singapore (2014-2015). Developed Information Delivery System for
                        communicating bank transaction data’s to countries regulatory compliance system.</li>
                    <li>BunkerTech, UK (2012-2013). SAAS based web application built on MVC3.0, Entity Framework 4.0,
                        Linq, JQuery 1.8, Kendo UI, where multiple users can use simultaneously create and track their
                        orders.</li>
                    <li>P4u[Phones4u], UK (2011 – 2012).Orange Data link evolution is POS client forward orders to
                        Orange Mobile Store Service .POS client is used by the store to buy, upgrade mobile phone and
                        plans contracts of Orange Service. C#.NET, SQL, XML, Web service 2.0,javascript</li>
                    <li>Hutchison 3G, UK (2010-2011). Upgraded with 3D secure transaction method to avoid fraudulent
                        purchase.</li>
                </ul>
            </dd>

            <dd class="clear"></dd>

            <dt>Education</dt>
            <dd>
                <h2>Anna University - Sri Venkateshwara College of Engineering</h2>
                <p><strong>Major:</strong> Bachelor Degree in Computer Science Engineering<br />
                    <strong>Mode:</strong> Fulltime Program
                </p>

                <h2>Central Polytechnic College,Chennai</h2>
                <p><strong>Major:</strong> Diploma in Electronics and Communication engineering<br />
                    <strong>Mode:</strong> Fulltime Program
                </p>
            </dd>

            <dd class="clear"></dd>

            <dt>References</dt>
            <dd>Available on request</dd>

            <dd class="clear"></dd>
        </dl>
        <div class="clear"></div>
    </div>
</body>

</html>