<!DOCTYPE html>
<html>
  <!-- The below HTML is copyright Tech Trade LLC. -->
  <!-- Only individuals with a Personal License may use or alter this template. -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Update Your Name -->
    <title>Laura Cooper - Resume</title>

    <!-- Update Description -->
    <meta name="description" content="Laura Cooper - Resume" />

    <!-- Custom Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lora:wght@400;700&display=swap"
    />

    <!-- Main CSS -->
    <link href="styles.css" rel="stylesheet" />
  </head>

  <body>
    <main class="bg-white text-gray-600 min-h-screen">
      <div class="py-12 lg:pt-20 px-6 mx-auto max-w-7xl">
        <!-- Your Name -->
        <h1><span class="font-bold text-gray-700">Laura</span> Cooper</h1>

        <div class="my-12 lg:my-20 py-3 border-t-2 border-b-2">
          <!-- Your Title -->
          <h2>Professional Title</h2>
        </div>

        <div class="grid-4">
          <div>
            <h3>Contact</h3>
            <div class="flex items-center gap-4">
              <!-- Contact 1 Icon -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6 shrink-0"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"
                />
              </svg>

              <!-- Contact 1 -->
              <p class="mb-0">
                <a
                  href="mailto:support@resumewind.com"
                  target="_blank"
                  rel="noreferrer"
                >
                  support@resumewind.com
                </a>
              </p>
            </div>
            <div class="flex items-center gap-4 mt-3">
              <!-- Contact 2 Icon -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6 shrink-0"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6.75 7.5l3 2.25-3 2.25m4.5 0h3m-9 8.25h13.5A2.25 2.25 0 0021 18V6a2.25 2.25 0 00-2.25-2.25H5.25A2.25 2.25 0 003 6v12a2.25 2.25 0 002.25 2.25z"
                />
              </svg>

              <!-- Contact 2 -->
              <p class="mb-0">
                <a
                  href="https://github.com/username"
                  target="_blank"
                  rel="noreferrer"
                >
                  github.com/username
                </a>
              </p>
            </div>
            <div class="flex items-center gap-4 mt-3">
              <!-- Contact 3 Icon -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6 shrink-0"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6.115 5.19l.319 1.913A6 6 0 008.11 10.36L9.75 12l-.387.775c-.217.433-.132.956.21 1.298l1.348 1.348c.21.21.329.497.329.795v1.089c0 .426.24.815.622 1.006l.153.076c.433.217.956.132 1.298-.21l.723-.723a8.7 8.7 0 002.288-4.042 1.087 1.087 0 00-.358-1.099l-1.33-1.108c-.251-.21-.582-.299-.905-.245l-1.17.195a1.125 1.125 0 01-.98-.314l-.295-.295a1.125 1.125 0 010-1.591l.13-.132a1.125 1.125 0 011.3-.21l.603.302a.809.809 0 001.086-1.086L14.25 7.5l1.256-.837a4.5 4.5 0 001.528-1.732l.146-.292M6.115 5.19A9 9 0 1017.18 4.64M6.115 5.19A8.965 8.965 0 0112 3c1.929 0 3.716.607 5.18 1.64"
                />
              </svg>

              <!-- Contact 3 -->
              <p class="mb-0">
                <a
                  href="https://resumewind.com"
                  target="_blank"
                  rel="noreferrer"
                >
                  resumewind.com
                </a>
              </p>
            </div>
          </div>
          <div class="grid-right">
            <!-- Profile -->
            <h3>Profile</h3>
            <p class="mb-0 lg:mb-4">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
              porttitor erat at neque cursus, at vulputate lacus dictum. Proin
              diam ex, hendrerit eget elementum eu, dictum et arcu. Fusce
              placerat lectus vitae lectus tincidunt finibus. Morbi eleifend
              ornare ex. Ut posuere imperdiet porta. Fusce nec tellus neque.
              Nullam vitae felis sit amet lorem mattis faucibus.
            </p>
          </div>
        </div>

        <hr class="my-12 lg:my-20 border-t-2" />

        <div class="grid-4">
          <div class="order-last lg:order-first">
            <hr class="lg:hidden mb-12 border-t-2" />

            <!-- Skills -->
            <h3>Skills</h3>

            <!-- Skills 1 -->
            <h4>Programming Languages</h4>
            <ul>
              <li>JavaScript</li>
              <li>TypeScript</li>
              <li>Python</li>
              <li>PHP</li>
            </ul>

            <!-- Skills 2 -->
            <h4 class="mt-8">Libraries &amp; Frameworks</h4>
            <ul>
              <li>React.js</li>
              <li>Vue.js</li>
              <li>Next.js</li>
              <li>Gatsby.js</li>
            </ul>

            <hr class="left-hr" />

            <!-- Education -->
            <h3>Education</h3>

            <!-- Education 1 -->
            <h4>Enter Your Degree</h4>
            <p class="mb-1">Name Of University</p>
            <p>2004 - 2008</p>

            <hr class="left-hr" />

            <!-- References -->
            <h3>References</h3>

            <!-- Reference 1 -->
            <h4>Reference Name 1</h4>
            <p class="mb-1">Reference Title 1</p>
            <p>Contact Information 1</p>

            <!-- Reference 2 -->
            <h4 class="mt-8">Reference Name 2</h4>
            <p class="mb-1">Reference Title 2</p>
            <p>Contact Information 2</p>
          </div>

          <!-- Work Experience -->
          <div class="grid-right">
            <h3>Work Experience</h3>

            <!-- Work Experience 1 -->
            <h4 class="title-dot">Your Job Title Goes Here</h4>
            <p>Company Name | 2020 - 2022</p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a
              imperdiet urna. Praesent eu posuere magna, in suscipit quam. Here
              is an example of an
              <a href="https://resumewind.com/" target="_blank" rel="noreferrer"
                >external link</a
              >.
            </p>
            <p>
              Mauris ullamcorper neque in ultrices mollis. Sed justo eros,
              mollis sed odio id, finibus gravida enim. Aenean pharetra ante
              elit, sit amet accumsan felis suscipit vitae. Vestibulum ante
              ipsum primis.
            </p>
            <ul>
              <li>Cras in erat bibendum, rhoncus nisl ac, luctus tortor</li>
              <li>Vivamus volutpat nunc non quam dapibus</li>
              <li>Nulla molestie odio odio, ut congue dui</li>
            </ul>

            <!-- Work Experience 2 -->
            <h4 class="mt-16 title-dot">Your Job Title Goes Here</h4>
            <p>Company Name | 2020 - 2022</p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a
              imperdiet urna. Praesent eu posuere magna, in suscipit quam. Here
              is an example of an
              <a href="https://resumewind.com/" target="_blank" rel="noreferrer"
                >external link</a
              >.
            </p>
            <p>
              Mauris ullamcorper neque in ultrices mollis. Sed justo eros,
              mollis sed odio id, finibus gravida enim. Aenean pharetra ante
              elit, sit amet accumsan felis suscipit vitae. Vestibulum ante
              ipsum primis.
            </p>
            <ul>
              <li>Cras in erat bibendum, rhoncus nisl ac, luctus tortor</li>
              <li>Vivamus volutpat nunc non quam dapibus</li>
              <li>Nulla molestie odio odio, ut congue dui</li>
            </ul>

            <!-- Work Experience 3 -->
            <h4 class="mt-16 title-dot">Your Job Title Goes Here</h4>
            <p>Company Name | 2020 - 2022</p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a
              imperdiet urna. Praesent eu posuere magna, in suscipit quam. Here
              is an example of an
              <a href="https://resumewind.com/" target="_blank" rel="noreferrer"
                >external link</a
              >.
            </p>
            <p>
              Mauris ullamcorper neque in ultrices mollis. Sed justo eros,
              mollis sed odio id, finibus gravida enim. Aenean pharetra ante
              elit, sit amet accumsan felis suscipit vitae. Vestibulum ante
              ipsum primis.
            </p>
            <ul>
              <li>Cras in erat bibendum, rhoncus nisl ac, luctus tortor</li>
              <li>Vivamus volutpat nunc non quam dapibus</li>
              <li>Nulla molestie odio odio, ut congue dui</li>
            </ul>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
